<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Nueva Receta</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form action="#" th:action="@{'pacientes/'+${r.idPaciente.id}+'/recetas/nueva}'" th:object="${receta}" method="post">
          <fieldset>
              <table>
                  <thead>
                      <tr>
                          <th> Title</th>
                          <th> Author</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr th:each="item, itemStat : *{itemRecetaList}">
                          <td><input th:field="*{itemRecetaList[__${itemStat.index}__].cantidad}" /></td>
                          <td><input th:field="*{itemRecetaList[__${itemStat.index}__].medicamento}" /></td>
                      </tr>
                  </tbody>
              </table>
              <input type="submit" id="submitButton" th:value="Guardar">
          </fieldset>
      </form>
    </body>
</html>
